<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Socket.IO whiteboard</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="canv">
    <canvas class="whiteboard"></canvas>
  </div>
  <div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color pink"></div>
    <div class="color blue"></div>
    <div class="color yellow"></div>
    <img class="color white" src="/img/eraser.png"></img>

  </div>
  
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</html>